<h2>Omvandla Celsius till Fahrenheit och vice versa</h2>

<div class="converterContainer">
    <label for="celsius">Celsius:</label><br>
    <!--Tvåvägs data-binding-->
    <input type="number" id="celsius" [(ngModel)]="celsiusValue"><br>
    <!--Anropa funktionerna från klassen-->
    <button (click)="convertToFahrenheit()">CELSIUS -> FAHRENHEIT</button><br>

    <label for="fahrenheit">Fahrenheit:</label><br>
    <!--Tvåvägs data-binding-->
    <input type="number" id="fahrenheit" [(ngModel)]="fahrenheitValue"><br>
    <!--Anropa funktionerna från klassen-->
    <button (click)="convertToCelsius()">FAHRENHEIT -> CELSIUS</button><br>
</div>

<div>
    <!--Data-binding-->
    <p>Resultat: {{ resultTempText }}</p>
</div>

<h2>Omvandla Meter till Fot och vice versa</h2>
<div class="converterContainer">
    <label for="meter">Meter:</label><br>
    <input type="number" id="meter" [(ngModel)]="meterValue"><br>
    <button (click)="convertToFeet()">METER -> FOT</button><br>

    <label for="feet">Fot:</label><br>
    <input type="number" id="feet" [(ngModel)]="feetValue"><br>
    <button (click)="convertToMeter()">FOT -> METER</button><br>
</div>
<div>
    <p>Resultat: {{ resultLengthText }}</p>
</div>