@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

p {
    line-height: 1.7em;
}

h2,
h3 {
    text-align: center;
    margin-top: 30px;
}

h2 {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
    background: linear-gradient(135deg, #dd0031, #c2185b, #512da8);
    color: transparent;
    background-clip: text;
}